@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
h1 {
  font-size: 100px;
  line-height: 85px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 50;
  color: rgb(185, 185, 185);
  transition: 0.3s;
}
#navbar li a:hover {
  color: #ee8801;
}

/* home page */
#hero {
  background-image: url(img/hero\ image.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero span {
  color: #0000008a;
  padding-bottom: 500px;
}
#hero h4 {
  padding-bottom: 22px;
}
#hero h1 {
  color: black;
  padding-bottom: 20px;
}
#hero p {
  padding-top: 0px;
  padding-bottom: 30px;
}
#hero button {
  background-color: #ee8801;
  border: #ee8801;
  color: white;
  width: 150px;
  height: 40px;
}
#hero button:hover {
  background-color: #d97d04;
  border: #d97d04;
  color: rgb(255, 253, 253);
  transition: 0.3s;
  cursor: pointer;
}
